<div class="container sm-12 md-8 lg-5 px-5 px-sm-0">
    <div class="row">
        
     <div class="top-text-box col-md-8 mx-auto mb-0">
      <h4 class="text-light">ようこそ<stromg>ながのCAKE</stromg>へ！</h3>
      
        <p class="text-light">
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </p>
        
     </div>
     
    </div>
    <div class="row mt-5">
        
        <div class="new-items mx-auto">
            
            <h4>新着商品</h4>
            
            <div class="items-box d-flex">
            <% @items.each do |item| %>
            <% if item.is_active? %>
             <div class="item-box d-inline-block ml-3">
                <%= link_to item_path(item.id) do %><%= attachment_image_tag item, :image, :fill, 150, 150 %><% end %></br>
                <%= link_to item_path(item.id) do %><%= item.name %><% end %></br>
                <p>¥<%= item.add_tax_price.to_s(:delimited) %>円</p>
            </div>
            <% end %>
            <% end %>
            </div>
        </div>
        
    </div>
</div>