<div class="container">
    <div class="row">
        <h4>注文情報確認</h4>
    </div>
    
    <div class="row">
        <div class="col-md-8 offset-1">
        <table class="table border">
            <thead>
                <tr class="active">
                    <th>商品名</th>
                    <th>単価（税込）</th>
                    <th>数量</th>
                    <th>小計</th>
                </tr>
                </thead>
>
        </table>
        </div>
        
        <div class="col-md-3">
            <table class="table border">
                <tbody>
                    <tr>
                        <th>送料</th>
                        <td><%= @order.shipping_cost %></td>
                    </tr>
                    <tr>
                        <th>商品合計</th>
                        <td><%#= @sum %></td>
                    </tr>
                    <tr>
                        <th>請求金額</th>
                        <td><%#= @order.shipping_cost + @sum %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
        <h6>支払方法</h6>
        <p class="ml-3"><%= @order.payment_method %></p>
    </div>
    
    <div class="row">
        <h6>お届け先</h6>
        <p class="ml-3">〒<%= @order.postal_code %></p>
        <p class="ml-3"><%= @order.name %></p>
    </div>
    
    <div class="row">
        <%= link_to "注文を確定する", url: orders_path, class:"btn btn-primary" %>
    </div>
</div>