<div class="container">
    <div class="row">
        <h3>注文情報入力</h3>
    </div>

    <%= form_with model: @order, url: confirm_orders_path, local:true do |f| %>
        <div class="row">
            <div class="paymethod-box">
                <h5>支払方法</h5>
                <div class="form-group">
                    <%= f.radio_button :payment_method, 0 %>
                    <%= f.label :payment_method, "クレジットカード" %>
                </div>
                <div class="form-group">
                    <%= f.radio_button :payment_method, 1 %>
                    <%= f.label :payment_method, "銀行振込" %>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="addresses-box">
            
                <h5>お届け先</h5>
                
                <div class="form-group">
                    <%= f.radio_button :address_option, 1 %>
                    <%= f.label :address_option, "ご自身の住所" %>
                    <p class="mb-0">〒<%= current_costomer.postal_code %>　<%= current_costomer.address %></p>
                    <%= current_costomer.full_name %>
                    <%#= current_costomer.full_address %>　<%#=←※モデルで定義してあるので名前・住所・郵便番号すべてが一括表示される  %>
                </div>
                
                <div class="from-group mt-3">
                    <%= f.radio_button :address_option, 2 %>
                    <%= f.label :address_option, "登録先の住所" %>
                    <p><%= f.collection_select(:address1, @addresses, :id, :full_address) %></p>
                </div>
                
                <div class="form-group mt-3">
                    <%= f.radio_button :address_option, 3 %>
                    <%=f.label :address_option, "新しい住所" %>
                </div>
                
                <div class="form-group">
                  <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
                  <%= f.text_field :postal_code %>
                </div>
                
                <div class="form-group">
                  <%= f.label :address, "住所" %>
                  <%= f.text_field :address %>
                </div>
                
                <div class="form-group">
                    <label for="name">宛名</label>
                    <%= f.text_field :name %>
                </div>
               
                <div class="action">
                    <%= f.submit "確認画面へ進む", class:"btn btn-primary mt-3" %>
                </div>
            </div>
        </div>
    <% end %>
</div>