<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <% if costomer_signed_in? %>
          <li>
            <%= link_to "マイページ", costomers_path %>
          </li>
          <li>
            <%= link_to "商品一覧", items_path %>
          </li>
          <li><a href="#">カート</a></li>
          <li>
            <%= link_to "ログアウト", destroy_costomer_session_path, method: :delete %>
          </li>
          
          <% elsif admin_signed_in? %>
          <li>
           <%= link_to "商品一覧", admins_items_path %>
          </li>
          <li>
            <%= link_to "会員一同", admins_costomers_path %>
          </li>
          <li><a href="#">注文履歴一覧</a></li>
          <li>
            <%= link_to "ジャンル一覧", admins_genres_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
          
          <% else %>
          <li>
            <%= link_to "About", about_path %>
          </li>
          <li>
            <%= link_to "商品一覧", items_path %>
          </li>
          <li>
            <%= link_to "新規登録", new_costomer_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_costomer_session_path %>
          </li>
          <% end %>
        </ul>
      </nav>
    </header>
    
    <main>
    <%= yield %>
    </main>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="mx-auto mt-5">
            <p>CopyRight NaganoCake</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
  
</html>
